* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: black;
    overflow-x: hidden;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
}

li {
    list-style: none;
}

a:active,
a {
    text-decoration: none;
    list-style: none;
    color: gray;
    transition: 0.4s;
}

a:hover {
    color: white
}

.header-wrapper {
    display: inline-flex;
    width: 100%;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBar {
    display: inline-flex;
    gap: 30px;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 30px;
}

.logo {
    width: 128px;
    height: 31px;
}

.button {
    width: 154px;
    height: 42px;
    border-radius: 14px;
    border: none;
    background-color: #828282;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    background-color: white;
}

.button-help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.buttonInput {
    position: absolute;
    width: 63px;
    height: 30px;
    top: 11px;
    right: 6px;
    border-radius: 11px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button-tools {
    margin-top: 20px;
}

.image {
    width: 100%;
    height: 730px;
    position: relative;
}

.imageSwiper {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}


.swiper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 209px;
    margin-bottom: 71px;
}

.swiper-backface-hidden .swiper-slide {
    display: flex;
    width: 1440px;
    align-items: flex-end;
    justify-content: center;
}

.subTitle {
    color: #C0C0C0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
}

.title-value {
    font-size: 40px;
    line-height: 42px;
    padding-bottom: 15px;
}

.subTitle-value {
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
    text-align: left;
}

.title-inform {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 14px;
    text-align: left;
}

.title-help {
    padding: 0;
}

.subTitle-info {
    text-align: left;
}

.subTitle-footer {
    color: #C0C0C0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

.subTitle-info-footer {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

.subTitle-mini {
    color: #C0C0C0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    margin-top: 20px;
}


.information {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wraper {
    display: flex;
    width: 1200px;
    flex-direction: column;
    margin: 120px;
}

.item {
    display: block;
    align-items: center;
    justify-content: center;
    width: 576px;
    height: 600px;
    position: relative;
}

.item:hover .itemText {
    color: #C0C0C0;
}

.itemTitle {
    position: absolute;
    color: white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    top: 65%;
    left: 5%;
    text-transform: uppercase;
}

.itemText {
    position: absolute;
    color: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    left: 5%;
    top: 70%;
    width: 90%;
    transition: color 0.3s ease;
}

.inform-image {
    width: 100%;
    height: 100%;
}

.inform-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    padding-top: 40px;
}



.information2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 540px;
    flex-shrink: 0;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 314px;
    margin-top: 113px;
    margin-left: 60px;

}

.imageCamera {
    background: url(./assets/textBlock.jpeg), lightgray 50% / cover no-repeat;
    background-size: contain;
}

.clients {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.client-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    width: 1200px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-wrapper {
    display: flex;
    gap: 109px;
    margin-top: 40px;
    padding: 40px;
    align-items: center;
}

.client svg {
    transition: 0.4s;
}

.client:hover svg {
    fill: white;
}

.help {
    flex-direction: column;
    height: 300px;
    gap: 20px;
}

.footer {
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 1168px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
}


.footer-wrapper-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-navBar {
    display: block;
    line-height: 30px;
}

.footer-navigater-wrapper {
    display: flex;
    margin-right: 80px;
}

.footer-lines {
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    border-top: 2px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
}

.inputForm {
    position: relative;
}

.inputEmail {
    display: block;
    width: 458px;
    height: 52px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background: #F9FAFB;
}

.small {
    color: #C0C0C0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.link-container {
    display: flex;
    gap: 20px;
}

.footer-small {
    padding-top: 56px;
}

.socialLink {
    transition: 0.4s;
}

.Twitter:hover {
    fill: #00ACEE;
}

.Instagram:hover {
    fill: #f23c78;
}

.Facebook:hover {
    fill: #3b5998;
}




/* для планшета */
@media only screen and (min-width: 577px) and (max-width: 992px) {


    .header-wrapper {
        display: flex;
        width: 100%;
        height: 90px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 100%;
        height: 822px;
        position: relative;
    }

    .wraper {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }


    .inform-wrapper {
        margin-bottom: 20px;
    }

    .item {
        display: block;
        width: 364px;
        height: 365px;
        position: relative;
    }

    .itemTitle {
        position: absolute;
        color: white;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        top: 50%;
        left: 5%;
        text-transform: uppercase;
    }

    .itemText {
        position: absolute;
        color: #C0C0C0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        left: 5%;
        top: 57%;
        width: 90%;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 312px;
        margin-top: 113px;
        margin-left: 40px;
        box-sizing: border-box;
    }

    .client-wrapper {
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo-wrapper {
        display: flex;
        gap: 23px;
        margin-top: 40px;
        padding: 40px;
        align-items: center;
    }

    .footer {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    .footer-navigater {
        margin-right: -100px;
        ;
    }
}




/* для мобильного телефона */
@media only screen and (max-width: 576px) {

}