* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: black;
    overflow-x: hidden;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
}

li {
    list-style: none;
}

a:active,
a {
    text-decoration: none;
    list-style: none;
    color: gray;
    transition: 0.4s;
}

a:hover {
    color: white
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}


.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
}

.header-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.headerBurger {
    display: none;
}

.navBar {
    display: inline-flex;
    gap: 30px;
    color: white;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 30px;
    position: relative;
    z-index: 2;
}

.logo {
    width: 128px;
    height: 31px;
    position: relative;
    z-index: 3;
}

.button {
    width: 154px;
    height: 42px;
    border-radius: 14px;
    border: none;
    background-color: #454545;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    z-index: 2;
}

.button:hover {
    background-color: white;
    color:#000;
}

.button-help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.buttonInput {
    position: absolute;
    width: 63px;
    height: 30px;
    top: 11px;
    right: 6px;
    border-radius: 11px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button-tools {
    margin-top: 20px;
}

.image {
    width: 100%;
    height: 730px;
    position: relative;
}

.imageSwiper {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}


.swiper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 209px;
    margin-bottom: 71px;
}

.swiper-backface-hidden .swiper-slide {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.subTitle {
    color: #C0C0C0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.4px;
}

.title-value {
    font-size: 40px;
    line-height: 42px;
    padding-bottom: 15px;
}

.subTitle-value {
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
    text-align: left;
}

.title-inform {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 14px;
    text-align: left;
}

.title-help {
    padding: 0;
}

.subTitle-info {
    text-align: left;
}

.subTitle-footer {
    color: #C0C0C0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

.subTitle-info-footer {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

.subTitle-mini {
    color: #C0C0C0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    margin-top: 20px;
}


.information {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wraper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.item {
    display: block;
    align-items: center;
    justify-content: center;
    width: 576px;
    height: 600px;
    position: relative;
}

.item:hover .itemText {
    color: #C0C0C0;
}

.itemTitle {
    position: absolute;
    color: white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    top: 65%;
    left: 5%;
    text-transform: uppercase;
}

.itemText {
    position: absolute;
    color: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    left: 5%;
    top: 70%;
    width: 90%;
    transition: color 0.3s ease;
}

.inform-image {
    width: 100%;
    height: 100%;
}

.inform-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    padding-top: 40px;
}



.information2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 650px;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;

}

.imageCameraSmall {
    display: none;
}

.imageCamera {
    background: url(./assets/textBlock.jpeg), lightgray 50% / cover no-repeat;
    background-size: cover;
}

.clients {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.client-wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-wrapper {
    display: flex;
    gap: 109px;
    margin-top: 40px;
    padding: 40px;
    align-items: center;
}

.client svg {
    transition: 0.4s;
}

.client:hover svg {
    fill: white;
}

.help {
    flex-direction: column;
    height: 300px;
    gap: 20px;
}

.footer {
    width: 100%;
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 1168px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
}


.footer-wrapper-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-navBar {
    display: block;
    line-height: 30px;
}

.footer-navigater-wrapper {
    display: flex;
    margin-right: 80px;
}

.footer-lines {
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    border-top: 2px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
}

.footerText {
    width: 50%;
}

.footerInput {
    width: 50%;
}

.inputForm {
    position: relative;
}

.inputEmail {
    display: block;
    width: 100%;
    height: 52px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    background: #F9FAFB;
}

.small {
    color: #C0C0C0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.link-container {
    display: flex;
    gap: 20px;
}

.footer-small {
    padding-top: 56px;
}

.socialLink {
    transition: 0.4s;
}

.Twitter:hover {
    fill: #00ACEE;
}

.Instagram:hover {
    fill: #f23c78;
}

.Facebook:hover {
    fill: #3b5998;
}




/* для планшета */
@media only screen and (max-width: 960px) {

    body.lock {
        overflow: hidden;
    }

    .header-body {
        height: 50px;
    }

    .logo {
        width: 100px;
    }

    .header::before {
        content: '';
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 2;
    }

    .headerBurger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;

        z-index: 3;
    }

    .headerBurger::before,
    .headerBurger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .headerBurger::before {
        top: 0;
    }

    .headerBurger::after {
        bottom: 0;
    }

    .headerBurger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    
    .headerBurger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .headerBurger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .headerBurger.active span {
        transform: scale(0);
    }


    .navWrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .navWrapper.active {
        top: 0;
    }

    .navBar {
        display: block;
    }

    .navLink li {
        margin: 0px 0px 25px 0px;
        text-decoration: none;
        list-style: none;
        color: black;
        transition: 0.4s;
        font-size: 35px;
    }

.navLink li:hover {
    color: white;
}


    .header-wrapper {
        display: flex;
        width: 100%;
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 18px;
    }

    .image {
        width: 100%;
        height: 822px;
        position: relative;
    }

    .wraper {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0;
    }


    .inform-wrapper {
        display: block;
        padding-top: 40px;
    }

    .item {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .itemTitle {
        position: absolute;
        color: white;
        font-size: 40px;
        line-height: 20px;
        letter-spacing: 2px;
        top: 50%;
        left: 5%;
        text-transform: uppercase;
    }

    .itemText {
        position: absolute;
        color: #C0C0C0;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        left: 5%;
        top: 57%;
        width: 90%;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-right: 50px;
    }

    .clients {
        display: flex;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .client-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: column;
        gap: 45px;
        margin-top: 40px;
        padding: 40px;
        align-items: center;
    }

    .footer {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    .footer-navigater {
        margin-right: -100px;
        ;
    }
}


.footer-lines {
    align-items: center;
    padding: 10px;
    border-top: 2px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
}


/* для мобильного телефона */


@media only screen and (max-width: 576px) {

    body.lock {
        overflow: hidden;
    }


    .header-body {
        height: 50px;
    }

    .logo {
        width: 100px;
    }

    .headerBurger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .headerBurger::before,
    .headerBurger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .headerBurger::before {
        top: 0;
    }

    .headerBurger::after {
        bottom: 0;
    }

    .headerBurger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    
    .headerBurger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .headerBurger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .headerBurger.active span {
        transform: scale(0);
    }


    .navWrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .navWrapper.active {
        top: 0;
    }

    .navBar {
        display: block;
    }

    .navLink li {
        margin: 0px 0px 20px 0px;
        text-decoration: none;
        list-style: none;
        color: black;
        transition: 0.4s;
        font-size: 25px;
    }

.navLink li:hover {
    color: white;
}

    .image {
        width: 100%;
        height: 740px;
        position: relative;
    }

    .swiper-text-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 71px;
        padding: 0 10px;
    }

    .title {
        color: #FFF;
        text-align: center;
        font-size: 25px;
    }

    .title-help {
        font-size: 20px;
        line-height: 25px;
    }


    .subTitle {
        color: #C0C0C0;
        text-align: center;
        font-size: 10px;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }


    .itemTitle {
        position: absolute;
        color: white;
        font-size: 15px;
        line-height: 0px;
        letter-spacing: 2px;
        top: 45%;
        left: 5%;
        text-transform: uppercase;
    }

    .itemText {
        position: absolute;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        left: 5%;
        top: 50%;
        width: 80%;
    }

    .information2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 10px;
    }

    .imageCamera {
        width: 100%;
        height: 200px;
        margin: 21px;
    }

    .button-tools {
        margin-top: 15px;
        width: 130px;
        height: 40px;
        font-size: 13px;
    }

    .button-help {
        width: 120px;
        height: 36px;
        font-size: 12px;
        gap: 4px;
    }

    .clients {
        margin-bottom: 0px;
        padding: 20px 0;
    }

    .clientText {
        padding-left: 30px;
    }

    .svgClient {
        width: 100px;
        height: 30px;
    }

    .footer {
        padding: 0px;
        height: 560px;
    }

    .footer-navigater-wrapper {
        display: flex;
        margin-right: 92px;
        gap: 20px;
        padding-bottom: 20px;
    }

    .footer-wrapper-items {
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        align-items: center;
        padding-bottom: 20px;
    }

    .subTitle-footer {
        font-size: 12px;
    }


    .footerText {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .subTitle-mini {
        margin: 0;
        padding: 10px 0;
    }

    .subTitle-info-footer {
        margin: 0;
    }

    .footerInput {
        width: 100%;
    }

    .footer-small {
        padding-top: 10px;
    }

    .small {
        font-size: 11px;
    }

    .link-container {
        padding: 40px 0;
    }

    .navBar {
        margin-right: 0px;
    }
}